body {
  background-color: #00008B; /* Azul oscuro */
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: white;
}

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #0a0a8c; /* Azul un poco más claro */
  border-radius: 10px;
  color: white;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-group button {
  padding: 10px;
  background-color: #ccc;
  color: black;
  border: none;
  border-radius: 5px;
  width: 48%;
  cursor: pointer;
}

.button-group a {
  width: 48%;
  text-decoration: none;
  display: inline-block;
}

.button-group a button {
  width: 100%;
}

